 .u-section-1 {
  background-image: linear-gradient(white, #035931);
}

.u-section-1 .u-sheet-1 {
  min-height: 625px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 0 40px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 585px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px 5px 23px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  margin: 50px 0 0 20px;
}

.u-section-1 .u-text-2 {
  text-shadow: 0px 0px 18px rgba(254,249,230,1);
  margin: 37px 0 0 20px;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 9px rgba(41,45,51,1);
  margin: 32px 129px 0 20px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  --radius: 50px;
  margin: 50px auto 0 20px;
  padding: 20px 30px 21px;
}

.u-section-1 .u-image-1 {
  min-height: 585px;
  background-image: url("images/jobers_3_480.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 21px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 5px;
    padding-right: 23px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 45px;
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 31px;
    margin-right: 86px;
    margin-left: 3px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 45px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    background-position: 0% 50%;
    min-height: 480px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 63px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 24px;
    margin-left: 0;
    margin-right: 2px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-1 {
    background-position: 14.9% 50%;
    min-height: 357px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 37px;
    margin-bottom: 37px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 32px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
    margin-left: 10px;
    padding-top: 14px;
    padding-bottom: 15px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
    min-height: 502px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 21px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -32px;
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 36px;
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-image-1 {
    min-height: 321px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 0 12px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(2,44,214,0.9), rgba(3,89,49,0.9)), url('images/VK_480_640_3_.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1167px;
  margin: 13px -27px 24px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 493px;
}

.u-section-2 .u-container-layout-1 {
  padding: 5px 7px 0;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  margin: 15px 0 0 24px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 530px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-right: 19px;
    margin-left: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 626px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 666px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 13px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 747px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -42px;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 662px;
}

.u-section-3 .u-layout-wrap-1 {
  background-image: none;
  width: 1120px;
  margin: 31px 0 21px auto;
}

.u-section-3 .u-image-1 {
  min-height: 628px;
  background-image: url("images/korea-busan-port.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px 30px 39px;
}

.u-section-3 .u-image-2 {
  min-height: 296px;
  background-image: url("images/bv3w-RrCMcM_640.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 332px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 922px;
    margin-top: 12px;
    margin-bottom: 20px;
  }

  .u-section-3 .u-image-1 {
    min-height: 601px;
  }

  .u-section-3 .u-image-2 {
    min-height: 248px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 353px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 425px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 387px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-3 .u-image-1 {
    min-height: 319px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 290px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 13px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 201px;
  }

  .u-section-3 .u-image-2 {
    min-height: 183px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 35px;
    margin-right: 35px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,1)), url('images/ww.jpg');
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1056px;
}

.u-section-4 .u-text-1 {
  text-shadow: 0px 0px 14px rgba(255,255,255,1);
  font-size: 3rem;
  margin: 42px 93px 0 590px;
}

.u-section-4 .u-image-1 {
  --radius: 10px;
  width: 550px;
  height: 999px;
  margin: -52px auto 0 20px;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: -931px 0 0 596px;
}

.u-section-4 .u-text-3 {
  text-shadow: 0px 0px 14px rgba(255,255,255,1);
  font-size: 3rem;
  margin: 42px 160px 0 596px;
}

.u-section-4 .u-text-4 {
  margin: 13px 0 15px 596px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-right: -50px;
    margin-left: 341px;
  }

  .u-section-4 .u-image-1 {
    width: 304px;
    height: 296px;
    margin-top: 27px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -296px;
    margin-left: 334px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 82px;
    margin-right: 187px;
    margin-left: 135px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 10px;
    margin-bottom: 27px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1186px;
  }

  .u-section-4 .u-text-1 {
    width: 507px;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 364px;
    margin-top: 29px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -364px;
    margin-left: 387px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 197px;
    margin-left: 139px;
  }

  .u-section-4 .u-text-4 {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1147px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-4 .u-image-1 {
    width: 167px;
    height: 392px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -392px;
    margin-left: 214px;
  }

  .u-section-4 .u-text-3 {
    width: 384px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1759px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    height: 417px;
    margin-top: 373px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: -790px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 448px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 22px;
    margin-bottom: 47px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 64px;
}

.u-section-5 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 8px auto 0 449px;
}

.u-section-5 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: -48px auto 0;
}

.u-section-5 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: -48px 498px 0 auto;
}

.u-section-5 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: -48px auto 0 497px;
}

.u-section-5 .u-icon-5 {
  height: 48px;
  width: 48px;
  margin: -48px auto 8px 401px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-icon-1 {
    margin-left: 366px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 432px;
  }

  .u-section-5 .u-icon-3 {
    margin-right: 384px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 413px;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 48px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 0;
    margin-left: 293px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: auto;
    margin-left: 380px;
  }

  .u-section-5 .u-icon-3 {
    margin-right: auto;
    margin-left: 428px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 341px;
  }

  .u-section-5 .u-icon-5 {
    margin-bottom: 0;
    margin-left: 245px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 294px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 342px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 150px;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 198px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 47px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 100px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 144px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 240px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 192px;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 52px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 596px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 12px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/tel.png");
  background-position: 50% 50%;
  min-height: 584px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px 37px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 584px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 60px 0 76px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 13px auto 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-image-2 {
  width: 208px;
  height: 208px;
  margin: -460px 25px 0 auto;
}

.u-section-6 .u-btn-3 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 0 auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 13px;
  }

  .u-section-6 .u-image-1 {
    min-height: 615px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 615px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 22px;
    padding-left: 18px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 35px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-6 .u-image-2 {
    width: 188px;
    height: 188px;
    margin-top: -402px;
    margin-right: 108px;
  }

  .u-section-6 .u-btn-3 {
    margin-top: -37px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 584px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 584px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 18px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
    margin-right: 4px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-6 .u-image-2 {
    width: 192px;
    height: 192px;
    margin-top: -394px;
    margin-right: 23px;
  }

  .u-section-6 .u-btn-3 {
    margin-top: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 28px;
  }

  .u-section-6 .u-image-1 {
    min-height: 152px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 836px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-6 .u-image-2 {
    width: 225px;
    height: 225px;
    margin-top: 4px;
    margin-right: 99px;
  }

  .u-section-6 .u-btn-3 {
    margin-top: -478px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 18px;
    margin-bottom: 9px;
  }

  .u-section-6 .u-image-1 {
    min-height: 88px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 937px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-6 .u-image-2 {
    width: 202px;
    height: 202px;
    margin-top: 14px;
    margin-right: 95px;
    margin-left: 53px;
  }

  .u-section-6 .u-btn-3 {
    margin-top: -537px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 86px;
}

.u-section-7 .u-text-1 {
  width: 422px;
  margin: 0 auto 20px;
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-7 .u-text-1 {
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-8 {
  min-height: 500px;
}

.u-section-8 .u-sheet-1 {
  min-height: 500px;
}.u-section-9 .u-sheet-1 {
  min-height: 741px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 621px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-9 .u-image-1 {
  min-height: 400px;
  background-image: url("images/bank.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-9 .u-image-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-image-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-image-1 {
    min-height: 380px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-9 .u-image-1 {
    min-height: 239px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 70px;
}

.u-section-10 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  margin: 4px 619px 4px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 66px;
  }

  .u-section-10 .u-text-1 {
    width: 521px;
    margin-top: 0;
    margin-right: 419px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 70px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-right: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 39px;
  }

  .u-section-10 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-right: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 760px;
}

.u-section-11 .u-text-1 {
  font-size: 0.875rem;
  margin: 30px 800px 0 0;
}

.u-section-11 .u-image-1 {
  width: 110px;
  height: 102px;
  margin: 6px 1030px 0 0;
}

.u-section-11 .u-btn-1 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 12px 697px 0 0;
  padding: 0;
}

.u-section-11 .u-btn-2 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 55px 677px 0 0;
  padding: 0;
}

.u-section-11 .u-btn-3 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 15px 33px 0 0;
  padding: 0;
}

.u-section-11 .u-btn-4 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 15px 32px 0 0;
  padding: 0;
}

.u-section-11 .u-btn-5 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 15px 60px 60px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-right: 600px;
  }

  .u-section-11 .u-image-1 {
    margin-right: 830px;
  }

  .u-section-11 .u-btn-1 {
    margin-right: 497px;
  }

  .u-section-11 .u-btn-2 {
    margin-right: 477px;
  }

  .u-section-11 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-11 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-11 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    margin-right: 60px;
  }

  .u-section-11 .u-image-1 {
    margin-right: 610px;
  }

  .u-section-11 .u-btn-1 {
    margin-right: 277px;
  }

  .u-section-11 .u-btn-2 {
    margin-right: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    margin-top: 5px;
    margin-right: 200px;
  }

  .u-section-11 .u-image-1 {
    margin-right: 430px;
  }

  .u-section-11 .u-btn-1 {
    margin-top: -3px;
    margin-right: 97px;
  }

  .u-section-11 .u-btn-2 {
    margin-right: 77px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    font-size: 0.75rem;
    margin-right: 0;
  }

  .u-section-11 .u-image-1 {
    margin-right: 230px;
  }

  .u-section-11 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-11 .u-btn-2 {
    font-size: 0.75rem;
    margin-right: 0;
  }

  .u-section-11 .u-btn-3 {
    font-size: 0.75rem;
  }

  .u-section-11 .u-btn-4 {
    font-size: 0.75rem;
  }

  .u-section-11 .u-btn-5 {
    font-size: 0.75rem;
    margin-top: 9px;
    margin-right: auto;
  }
}